.Feed {
    .Upvote {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 5px solid #cccccc;
        cursor: pointer;
    }
    .Upvote:hover {
        border-bottom: 5px solid #ffa3a3;
    }
}

.Feed-Dark {
    background: #f6f6ef;
}

.Feed-Light {
    background: #e6e5dd;
}